@import "fuentes";
@import "generales";
@import "animaciones";
@import "mapa";
@import "extend";
@import "mixin";

.logo{
    grid-area: logo;
}

.carrusel{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botones--i{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botones--ii{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botones--iii{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botones--iv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.video{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main img{
    border: solid;
    border-color: goldenrod;
}

main p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: justify;
    margin: 5px;
}

h2{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 5px;
}

.noticeFont{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 5px;
}

.tituloPagina{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

main section article{
    text-align: center;
}

footer{
    background-color: #1d293e;
    padding: 40px;
    color: #fff;
}

.ulFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.copyright{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: #fff;
    padding: 6px;
}

.imagenHistoria{
    max-width: 600px;
    border-style: solid;
    border-color: goldenrod;
}

.subtituloPagina {
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.space{
    margin-top: 20px;
}

.lineaPlantel{
    display: flex;
    flex-direction: row;
}

.sectionNotice{
    display: flex;
    justify-content: center;
}

@media (min-width:768px){

.botonesPadre{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.separador{
    background-color: #ffc107;
    height: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}
}